/* ========== Layout ========== */

html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 62.5%;
  margin: 0rem;
  padding: 0rem;
}

body {
  margin: 0rem;
}

.wrapper {
  background-image: url(images/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: auto;  
}

/* container {
  width: 95vw;
  
} */

.nav-bar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 92vw;
  margin: 1.7rem auto;
  background-color: rgba(19, 19, 19, 0.422);
  padding-left: 2rem;
  padding-right: 0rem;
}


.header-title {
  position: relative;
  width: 37rem;
  background-color: rgba(0, 0, 0, 0.74);
  margin-top: 4.5rem;
  margin-left: 5rem;
  padding-top: 0.8rem;
  padding-bottom: 7rem;
  padding-right: 3.5rem;
  padding-left: 3.7rem;
  border-radius: 0.8rem;  
}

.enroll-link {
  text-decoration: none;
  color: rgb(250, 204, 52);
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: font-size, color, text-decoration, 0.2s;
}

.enroll-link:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.55rem;
  cursor: pointer;
  text-decoration: underline;
}



.enroll {
  position: absolute;
  bottom: 2.8rem;
  left: 3.8rem;
  width: 20rem;
  height: 3.5rem;
  background-color: orange;
  border-radius: 0.5rem;
  color: rgb(214, 214, 214);
  font-size: 1.6rem;
  transition: width, fontsize, 0.3s;
  cursor: pointer;
}

.enroll:hover {
  width: 21rem;
  background-color: rgb(238, 155, 0);
  border-radius: 0.5rem;
  color: rgb(214, 214, 214);
  font-size: 1.7rem;
  cursor: pointer;  
}

.logo {
  display: flex;
  align-content: center;
  /* align-content: center; */
}

.about-container {
  max-width: 100vw;
  background-color: rgba(37, 17, 0, 0.87);  
  margin: 1rem auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.about-header {
  margin-left: 4.3rem;
}

.about-par {
  display: flex; 
  gap: 3rem; 
  margin: 0 4rem;
  width: 92%;
}


#about-us {
  background-image: url(images/img2.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}


.courses-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 80vw;
  gap: 1.4rem;
  margin: 2.5rem auto;
  
}

#courses {
  background-image: url(images/img4.jpg);
  height: 55%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: auto;
}

.course-header-wrapper {
  background-color: rgba(0, 0, 0, 0.422);
  max-width: 90%;
  padding: 0.8rem;
  margin: 1rem auto;
}



/* ========== Form ========== */

#form-container {
  margin: 0 auto;
  padding: 2.5% 30%;
  background-image: url(images/img1b.jpg);
  height: 55%;
  background-size: cover;
  background-repeat: no-repeat;  
  overflow: auto;  
  
}

.form-box {
  border: 3px solid  rgba(201, 130, 0, 0.589);
  padding: 2rem 10%;
  background-color: rgba(77, 36, 0, 0.575);
  margin-bottom: 2rem;
}

label {
  color: white;
  font-size: 1.4rem;  
}

input {
  width: 95%;
  height: 2.6rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

textarea {
  width: 75%;
  border-radius: 0.4rem;
}

.submit-button {
  width: 25%;
  margin: 1rem 0;
  background-color: rgb(238, 155, 0);
  border: none;
  color: white;
}

footer {
  background-color: black;
  height: 100%;
}

.footer-par {
  height: 100%;
}




/* ========== Typo ========== */

h1 {
  font-size: 3.6rem;
  text-align: center;
  color: orange;
  font-weight: bold;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

p, h2 {
  color: rgb(214, 214, 214);
}

p {
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  margin: 1rem 0;
  /* font-weight: normal; */
}

.about {
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: 0 0.3rem;
}

.course-card {
  line-height: 1.55rem;
  max-width: 85%;
  min-height: 87%;
  border-radius: 0.4rem;
  padding: 0.7rem 1.5rem;
  border: 2px solid rgba(155, 57, 0, 0.877);
  background-color: rgba(136, 61, 0, 0.767);
}

.course-card p {
  font-size: 1.3rem;
}

.courses h2 {
  font-size: 1.8rem;
  margin: 0;
}

.course-header {
  margin-left: 11.5rem;
  margin-top: 6rem;
}

.course-header2 {
  margin-left: 11.5rem;
  margin-top: 0;
}


h2 {
  font-size: 1.6rem;
  /* font-family: 'Calibri'; */
  margin-top: -1rem;
  /* font-weight: normal; */
}

h3 {
  font-size: 1.7rem;
  font-family:'Calibri';
  color: rgb(214, 214, 214);
  margin-top: 0.8rem;
  margin-left: 0.4rem;
  /* font-weight: normal; */
}


.cyrus-logo {
  font-family: impact;
  font-size: 2.5rem;
  font-weight: 700;
  color: royalblue;
  /* font-weight: bold; */
}

.live {
  font-size: 1.8rem;
  color: royalblue;
  font-weight: bold;
}

.Contact-Us {
  color: rgba(238, 238, 238, 0.24);
  font-size: 4rem;
}

.internal-link {
  text-decoration: none;
  color: orange;
  font-size: 1.4rem;
  margin: 0.5rem auto;
  padding-left: 82%;
}


/* ========== Menu and Links ========== */

.menu {
  margin: 0;
}

.links {
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
  color:rgb(201, 201, 201);
  text-transform: uppercase;
  transition: color, font-size, 0.3s;  
}

.links:hover {
  color:rgb(238, 238, 238);
  font-size: 1.3rem;
}

.links:active {
  color:rgb(223, 223, 223);
  font-size: 1.3rem;
}


/* ========== PHONES ========== */

@media screen and (min-width: 360px) {

  html, body {
    width: 100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
  }

  .nav-bar {
    margin-top: 0;
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  .links {
    display: block;
    margin-bottom: 1.1rem;
    border: 0.2rem solid orange;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.3rem 0.9rem;
  }
  .internal-link {
    text-decoration: none;
    color: orange;
    font-size: 1.4rem;
    margin: 0.5rem auto;
    padding-left: 68%;
  }


  img {
    width: 12.2rem;
    height: 4.7rem;
    margin: 3rem -0.4rem;
  }


  h1 {
    font-size: 2.3rem;
    text-align: center;
    color: orange;
    font-weight: bold;
    /* margin-top: 1.3rem; */
    margin-bottom: 0.3rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: -1rem;
    text-align: center;
    color: orange;
  }

  
  .wrapper {
    min-height: 100vh;
    background-position-x: center;
    padding-bottom: 3rem;
  }

  .header-title {
    max-width: 82%;
    /* height: 40rem; */
    margin: 0 auto;
    padding-top: 2.2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 0.8rem;
  }

  .header-title p {
  
    font-size: 1.6rem;
    text-align: left;
  
  }
    
  p {
    font-size: 0.4rem;
    text-align: left;
  }

  .enroll {
    position: relative;
    bottom: 0.7rem;
    left: 0rem;
    margin: 2rem auto;
    /* width: 90%; */
    width: 25.8rem;
    height: 3.5rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: rgb(214, 214, 214);
    font-size: 1.6rem;
    transition: width, fontsize, 0.3s;
    cursor: pointer;
  }
  

  .enroll-course-card {
    position: relative;
    bottom: 1rem;
    left: 0.9rem;
    margin: 1.5rem auto;
    /* width: 90%; */
    width: 30.1rem;
    height: 4rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: rgb(214, 214, 214);
    font-size: 1.6rem;
    transition: width, fontsize, 0.3s;
    cursor: pointer;
  }
  

  .about-container {
    width: 95%;
    /* height: 100%; */
    margin: 0rem auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 0.8rem;
    padding-right: 0.7rem;
  }

  .about-par {
    flex-direction: column;
    margin: 0 0.5rem;
  }

  .about {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 0 1rem;
    width: 100%;
    margin: 0rem;
    text-align: left;
  }

  .about-header {
    margin: 1rem auto;
    font-size: 2.5rem;
  }

 .courses-container {
    grid-template-columns: 1fr;
    max-width: 100vw;
    gap: 1.4rem;
    margin: 2.5rem auto;
  }

  #courses {
    /* background-image: url(images/img-keyb.jpg); */
    max-width: 100vw;
    padding: 3rem 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
  }

  .course-card {
    line-height: 1.6rem;
    width: 100%;
    /* height: 93%; */
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 0.7rem 1.1rem;
    border: 2px solid rgba(155, 57, 0, 0.877);
    background-color: rgba(136, 61, 0, 0.767);
  }

  .course-card p {
    font-size: 1.55rem;
    line-height: 1.8rem;
  }

  .course-header {
    margin: 0 auto;
    font-size: 2.5rem;
    padding: 0 0.5rem;
  }

  .course-header2 {
    margin: 0 auto;
    font-size: 1.8rem;
    padding: 0 0.9rem;    text-align: center;
  }

  #form-container {
    margin: 0rem auto;
    padding: 18.5% 2%;
    background-image: url(images/img1b.jpg);
    min-height: 86vh;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    overflow: auto;
  }

  .form-box {
    border: 3px solid rgba(201, 130, 0, 0.589);
    border-radius: 1rem;
    padding: 2rem 5%;
    background-color: rgba(77, 36, 0, 0.575);
  }

  textarea {
    width: 95%;
    border-radius: 0.4rem;
  }

  .submit-button {
    width: 45%;
    height: 3.5rem;
    margin: 1.3rem 0;
  }

  .footer-par {
    /* height: 100%; */
    background-color: black;
    margin: -1rem;
    padding: 0.4rem;
    text-align: center;
    font-size: 1rem;
  }
  

}


/* ========== tablets ========== */

@media screen and (min-width: 820px) {

  .nav-bar {
    margin-top: 0;
    margin-bottom: 3rem;
    padding-left: 7rem;
    padding-right: 6rem;
    padding-top: 2rem;
    height: 15rem;
  }

  img {
    width: 18.2rem;
    height: 6.7rem;
    margin: 3rem -0.4rem;
  }

  h1 {
    font-size: 3.3rem;
    text-align: center;
    color: orange;
    font-weight: bold;
    /* margin-top: 1.3rem; */
    margin-bottom: 0.15rem;
    padding: 0 1rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .course-header2 {
    margin-bottom: 3rem;
    font-size: 1.8rem;
    padding: 0 3.9rem;
    text-align: center;
  }

  .about {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 0 2rem;
    width: 100%;
    margin: 0rem;
    text-align: left;
  }

  .about-container {
    width: 90%;
    /* height: 100%; */
    margin: 0rem auto;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  .courses-container {
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
    gap: 1.4rem;
    margin: 2.5rem 5rem;
  }

  .header-title p {
    font-size: 1.8rem;
    text-align: left;
  }
  

  .enroll {
    position: absolute;
    bottom: 2.5rem;
    left: 4.9rem;
    width: 20rem;
    height: 3.5rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: rgb(214, 214, 214);
    font-size: 1.6rem;
    transition: width, fontsize, 0.3s;
    cursor: pointer;
  }

  .enroll-course-card {
    position: relative;
    bottom: 1rem;
    left: 16.4rem;
    margin: 1.5rem auto;
    /* width: 90%; */
    width: 30.1rem;
    height: 5rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: rgb(214, 214, 214);
    font-size: 1.6rem;
    transition: width, fontsize, 0.3s;
    cursor: pointer;
  }

  .course-card p {
    font-size: 1.55rem;
    text-align: left;
  }

  .course-card {
    line-height: 1.6rem;
    width: 100%;
    /* height: 93%; */
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 0.7rem 2.1rem;
    border: 2px solid rgba(155, 57, 0, 0.877);
    background-color: rgba(136, 61, 0, 0.767);
  }

  .wrapper {
    width: 100%;
    padding-bottom: 0rem;
  }

  .header-title {
    width: 65%;
    padding-bottom: 9rem;
    padding-left: 5rem;
    padding-right: 4rem;
    top: 2rem;
  }

  #form-container {
    padding: 2.5% 15%;    
  }
}



/* ========== Laptops ========== */

@media screen and (min-width: 922px) {  

  .menu {
    margin: 0.6rem 0rem 2rem 0rem;
  }

  img {
    width: 12.2rem;
    height: 4.7rem;
    margin: -1rem -0.4rem;
  }

  .links {
    display: inline;
    margin-bottom: 1.2rem;
    border: 0.2rem solid orange;
    border-radius: 0.5rem;
    text-align: center;
    padding: 0.2rem 0.9rem;
  }

  .nav-bar {
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    max-width: 86vw;
    height: 10vh;
    margin: 0rem auto;
    background-color: rgba(19, 19, 19, 0.422);
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menu {
    margin: 1.2rem 0rem 2rem 0rem;
  }

  .wrapper {
    background-image: url(images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 55vh;
    overflow: auto;
  }

  .header-title {
    position: relative;
    width: 40rem;
    height: 36.8rem;
    background-color: rgba(0, 0, 0, 0.74);
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    padding-top: 0.8rem;
    padding-right: 3.5rem;
    padding-left: 3.7rem;
    border-radius: 0.8rem;
  }

  h1 {
    font-size: 3rem;
    color: orange;
    font-weight: bold;
    margin-top: 1.8rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.3rem;
    /* font-family: 'Calibri'; */
    margin-top: -1rem;
    /* font-weight: normal; */
    padding: 0 3rem;
  }

  .header-title p {
    font-size: 1.6rem;
    text-align: left;
  }

 .footer-par {
    font-size: 0.7rem;
    font-family: Helvetica, sans-serif;
    padding: 0.8rem 0;
    margin: 0rem 0;
    /* font-weight: normal; */
  }

  .enroll {
    position: absolute;
    bottom: 1.3rem;
    left: 3.5rem;
    width: 20rem;
    height: 3.5rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    transition: width, fontsize, 0.3s;
    cursor: pointer;
  }

  .about {
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    max-width: 40.1%;
  }

  .about-par {
    margin: 0 2.7rem;
    flex-direction: row;
  }

  .about-header {
    margin-left: 2.8rem;
    margin-bottom: 2rem;
  }

  .about-container {
    max-width: 100vw;
    /* height: 100%; */
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .course-header {
    margin: 0 auto;
  
  }

  .course-header2 {
    margin-left: 0.2rem;
    margin-top: 0;
  }

  .course-card {
    line-height: 1.75rem;
    width: 87%;
    height: 93%;
    border-radius: 0.4rem;
    padding: 0.9rem 1.5rem;
    border: 2px solid rgba(155, 57, 0, 0.877);
    background-color: rgba(136, 61, 0, 0.767);
  }

  .enroll-course-card {
    position: relative;
    bottom: 1.1rem;
    left: 0rem;
    /* margin: 1.1rem auto; */
    width: 80%;    
    height: 5rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: rgb(214, 214, 214);
    font-size: 1.6rem;
    transition: width, fontsize, 0.3s;
    cursor: pointer;
  }

  /* .enroll-button-wrapper {
    margin: 0 auto;
    max-width: 70rem;
    
  } */

  .courses-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100vw;
    /* gap: 1.3rem; */
    margin: 2.5rem 4rem;
  }

  .form-box {
    border: 3px solid rgba(201, 130, 0, 0.589);
    padding: 2rem 8%;
    background-color: rgba(77, 36, 0, 0.575);
  }

  #form-container {
    margin: 0 auto;
    padding: 2.5% 20%;
    background-image: url(images/img1b.jpg);
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
  }  

}



/* ========== Large Screens ========== */

@media screen and (min-width: 1440px) {

  .nav-bar {
    display: flex;
    /* align-content: center; */
    justify-content: space-between;
    max-width: 86vw;
    height: 13vh;
    margin: 0rem auto;
    background-color: rgba(19, 19, 19, 0.422);
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .menu {
    margin: 3rem 0rem 2rem 0rem;
  }

  img {
    width: 21.1rem;
    height: 8rem;
    margin: 0.4rem 0rem;
  }

  .header-title {
    position: relative;
    width: 60rem;
    height: 44.8rem;
    background-color: rgba(0, 0, 0, 0.74);
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    padding-top: 0.8rem;
    padding-right: 3.5rem;
    padding-left: 3.7rem;
    border-radius: 0.8rem;
  }

  h1 {
    font-size: 5rem;
    color: orange;
    font-weight: bold;
    margin-top: 2.8rem;
    margin-bottom: 0rem;
  }

  .course-header2 {
    margin-left: 0rem;
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 2.3rem;
    padding: 0 4.8rem;
    text-align: center;
  }

  .course-header-wrapper {
    background-color: rgba(0, 0, 0, 0.422);
    max-width: 95%;
    padding-top: 1.6rem;
    padding-bottom: 0.1rem;
    margin: 1rem auto;
  }

  .links {
   padding: 0.5rem 1.4rem;
  }

  
  .about {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }

  .course-card p {
    font-size: 2.35rem;
    text-align: left;
    line-height: 3rem;
  }

  .header-title p {
    font-size: 2.3rem;
    text-align: left;
  }

  .enroll-course-card {
    position: relative;
    bottom: 0rem;
    left: 3rem;
    margin: 1.5rem auto;
    /* width: 90%; */
    width: 30.1rem;
    height: 5rem;
    background-color: orange;
    border-radius: 0.5rem;
    color: rgb(214, 214, 214);
    font-size: 1.6rem;
    transition: width, fontsize, 0.3s;
    cursor: pointer;
  }

  .enroll-link {
    text-decoration: none;
    color: rgb(250, 204, 52);
    font-weight: bold;
    font-size: 1.9rem;
    cursor: pointer;
    transition: font-size, color, text-decoration, 0.2s;
  }

  .course-card {
    /* line-height: 1.55rem; */
    width: 76%;
    max-height: 34rem;
    border-radius: 0.4rem;
    padding: 1.8rem 4rem;
    border: 2px solid rgba(155, 57, 0, 0.877);
    background-color: rgba(136, 61, 0, 0.767);
  }

  .courses-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 89vw;
    gap: 4.3rem;
    margin: 1.5rem auto;
  }

}







